/* LAYOUT */
header nav {
    width: 100%;
    height: 100px;
    background-color: aliceblue;
    padding: 0 40px;
}

main {
    width: 100%;
    background-color: lightskyblue;
}

footer {
    width: 100%;
    background-color: grey;
}

/* ------------- NAVBAR -------------- */

#nav-left {
    width: 200px;
    height: 20px;
    background-color: aqua;
}

#nav-center {
    width: 800px;
    height: 20px;
    background-color: lightcoral;
    flex: 1;
}

#nav-right {
    width: 250px;
    height: 20px;
    background-color: lightgreen;
}

/* ------------- MAIN -------------- */
section {
    width: 100%;
    height: 300px;
}

section:nth-of-type(2n+0) {
    background-color: cornflowerblue;
}

/* ------------- FOOTER -------------- */

footer #container-footer {
    padding: 20px;
}

#riot-links-footer {
width: 100%;
height: 80px;
background-color: lightseagreen;
}
#riot-social-footer {
width: 200px;
height: 60px;
background-color: blueviolet;
}
#riot-logo-footer {
width: 100px;
height: 60px;
background-color: whitesmoke;
}
#riot-copyright {
width: 400px;
height: 60px;
background-color: brown;
}
#riot-legal-links {
width: 600px;
height: 60px;
background-color: wheat;
}
#riot-ratings {
width: 150px;
height: 60px;
background-color: greenyellow;
}